body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
  color: #333;
}

header {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 30px;
  background: white;
  margin: 20px;
  border-radius: 8px;
}

h2 {
  color: #0f172a;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #0f172a;
  color: white;
}
